<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>component标签</title>


    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>

<body>
    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">component标签</h3>
            </div>
            <div class="panel-body">
                <div id="app">
                    <component v-bind:is="who"></component>
                    <button class="btn btn-info" @click="changeComponent">点击选择组件</button>
                </div>
            </div>
        </div>

    </div>
</body>
<script>
    var componentA = {
        template: `<div style="color:red;">组件A</div>`
    }
    var componentB = {
        template: `<div style="color:green;">组件B</div>`
    }
    var componentC = {
        template: `<div style="color:pink;">组件C</div>`
    }
    new Vue({
        el: "#app",
        data: {
            who: 'componentA'
        },
        components: {
            "componentA": componentA,
            "componentB": componentB,
            "componentC": componentC,
        },
        methods: {
            changeComponent: function () {
                if (this.who == 'componentA') {
                    this.who = 'componentB';
                } else if (this.who == 'componentB') {
                    this.who = 'componentC';
                } else {
                    this.who = 'componentA';
                }
            }
        }
    })
</script>

</html>