<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>component标签</title>


    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>

<body>
    <!-- 全局注册和局部注册 -->
    <div id="app">
        <my-component></my-component>
    </div>
    <div id="app1">
        <!-- 这里的组件时没法渲染的 -->
        <my-component></my-component>
    </div>
</body>
<script>
    var myComponent = Vue.extend({
        template: '<div>这个是我自定义的组件</div>'
    })

    new Vue({
        el: "#app",
        components: {
            // 将myComponent 组件注册到Vue实例下
            'my-component': myComponent
        }
    })
    new Vue({
        el:"#app1"
    })
</script>

</html>