<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>component标签</title>


    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>

<body>
    <div class="container">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">操作一哈</h3>
            </div>
            <div class="panel-body">
                <div id="app"></div>
            </div>
            <div class="panel-footer">
                <span class="label label-danger" onclick="destroy()">卸载</span>
                <span class="label label-danger" onclick="reload()">刷新</span>
                <span class="label label-danger" onclick="tick()">修改</span>
            </div>
        </div>
    </div>
</body>
<script>
    var jspang = Vue.extend({
        template: `<p>{{message}}</p>`,
        data: function () {
            return {
                message: 'Hello ,I am JSPang'
            }
        },
        destroyed: function () {
            console.log('10-destroyed 销毁之后');
        },
        mounted: function () {
            console.log("4-mounted 被创建");
        },
        updated: function () {
            console.log("6-updated 被更新后");
        }
    })

    var vm = new jspang().$mount("#app")

    function destroy() {
        vm.$destroy();
    }

    function reload() {
        vm.$forceUpdate();
    }

    function tick() {
        vm.message = "update message info ";
        vm.$nextTick(function () {
            console.log('message更新完后我被调用了');
        })
    }
</script>

</html>