<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>component标签</title>


    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>

<body>
    <div class="container">
        <div id="app">
            <helloworld :here="message"></helloworld>
        </div>
    </div>
</body>
<script>
    var helloworld = {
        template: `<div>我来到了这里 {{here}}.</div>`,
        props: ['here']
    }
    var app = new Vue({
        el: '#app',
        data: {
            message: '中国'
        },
        components: {
            "helloworld": helloworld
        }
    })
</script>

</html>