<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>父组件和子组件</title>


    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>

<body>
    <!-- 父组件和子组件 -->
    <div id="app">
        <parent-component></parent-component>
    </div> 
</body>
<script>
   var Child = Vue.extend({
       template:'<p>这是一个子组件</p>'
   })

   var Parent = Vue.extend({
       template: '<p>这是一个父组件里面使用子组件,<child-component></child-component></p>',
       components:{
           //局部注册Child组件 该组件只能在Parent组件内部使用
           'child-component':Child
       }
   })

   Vue.component('parent-component',Parent)

   new Vue({
       el:"#app"
   })

</script>

</html>