<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>prop的绑定类型</title>


    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>

<body>
    <div class="container">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">prop的绑定类型</h3>
            </div>
            <div class="panel-body">
                <div id="app">
                    <table class="table table-dark">
                        <thead class="thead-light">
                            <tr>
                                <th colspan="3">父组件数据</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>name</td>
                                <td>{{name}}</td>
                                <td><input type="text" v-model="name"></td>
                            </tr>
                            <tr>
                                <td>href</td>
                                <td>{{href}}</td>
                                <td><input type="url" v-model="href"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- 这个是单项绑定,修改父组件,子组件数据跟着变化 -->
                    <!-- <my-components v-bind:myname="name" v-bind:myhref="href"></my-components> -->
                    <!-- 可以使用.sync显式地指定双向绑定，这使得子组件的数据修改会回传给父组件。 -->
                    <!-- <my-components v-bind:myname.sync="name" v-bind:myhref.sync="href"></my-components> -->
                    <!-- 单次绑定 可以使用.once显式地指定单次绑定，单次绑定在建立之后不会同步之后的变化，这意味着即使父组件修改了数据，也不会传导给子组件。 -->
                    <my-components v-bind:myname.once="name" v-bind:myhref.once="href"></my-components>
                </div>
            </div>
        </div>
        <template id="myComponent">

            <table class="table table-dark">
                <thead class="thead-light">
                    <tr>
                        <th colspan="3">子组件数据</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>name</td>
                        <td>{{myname}}</td>
                        <td><input type="text" v-model="myname"></td>
                    </tr>
                    <tr>
                        <td>href</td>
                        <td>{{myhref}}</td>
                        <td><input type="url" v-model="myhref"></td>
                    </tr>
                </tbody>
            </table>

        </template>
    </div>
</body>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            name: '南丞',
            href: 'https://friady-go.cc'
        },
        components: {
            'my-components': {
                template: '#myComponent',
                props: ['myname', 'myhref']
            }
        }
    })
</script>

</html>