<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue弹框</title>


    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>

<body>
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Slot使用</h3>
            </div>
            <div class="panel-body">
                <!-- 为了让组件可以组合，我们需要一种方式来混合父组件的内容与子组件自己的模板。这个处理称为内容分发，Vue.js 实现了一个内容分发 API，使用特殊的 <slot> 元素作为原始内容的插槽。 -->
                <div id="app">
                    <my-component>
                        <h1>Hello vue.js</h1>
                    </my-component>
                    <my-component></my-component>
                </div>
            </div>
        </div>
    </div>
    <template id="myComponent">
        <div class="content">
            <h2>This is a component!</h2>
            <slot>如果没有分发内容，则显示slot中的内容</slot>
            <p>Say something...</p>
        </div>
    </template>
</body>
<script>
    Vue.component('my-component', {
        template:'#myComponent'
    })
    new Vue({
        el:"#app"
    })
</script>

</html>